.el-icon {
    FontFamily: 'element_icons';
}

.el-icon-ice-cream-round {
    Text: "\e6a0"
}

.el-icon-ice-cream-square {
    Text: "\e6a3"
}

.el-icon-lollipop {
    Text: "\e6a4"
}

.el-icon-potato-strips {
    Text: "\e6a5"
}

.el-icon-milk-tea {
    Text: "\e6a6"
}

.el-icon-ice-drink {
    Text: "\e6a7"
}

.el-icon-ice-tea {
    Text: "\e6a9"
}

.el-icon-coffee {
    Text: "\e6aa"
}

.el-icon-orange {
    Text: "\e6ab"
}

.el-icon-pear {
    Text: "\e6ac"
}

.el-icon-apple {
    Text: "\e6ad"
}

.el-icon-cherry {
    Text: "\e6ae"
}

.el-icon-watermelon {
    Text: "\e6af"
}

.el-icon-grape {
    Text: "\e6b0"
}

.el-icon-refrigerator {
    Text: "\e6b1"
}

.el-icon-goblet-square-full {
    Text: "\e6b2"
}

.el-icon-goblet-square {
    Text: "\e6b3"
}

.el-icon-goblet-full {
    Text: "\e6b4"
}

.el-icon-goblet {
    Text: "\e6b5"
}

.el-icon-cold-drink {
    Text: "\e6b6"
}

.el-icon-coffee-cup {
    Text: "\e6b8"
}

.el-icon-water-cup {
    Text: "\e6b9"
}

.el-icon-hot-water {
    Text: "\e6ba"
}

.el-icon-ice-cream {
    Text: "\e6bb"
}

.el-icon-dessert {
    Text: "\e6bc"
}

.el-icon-sugar {
    Text: "\e6bd"
}

.el-icon-tableware {
    Text: "\e6be"
}

.el-icon-burger {
    Text: "\e6bf"
}

.el-icon-knife-fork {
    Text: "\e6c1"
}

.el-icon-fork-spoon {
    Text: "\e6c2"
}

.el-icon-chicken {
    Text: "\e6c3"
}

.el-icon-food {
    Text: "\e6c4"
}

.el-icon-dish-1 {
    Text: "\e6c5"
}

.el-icon-dish {
    Text: "\e6c6"
}

.el-icon-moon-night {
    Text: "\e6ee"
}

.el-icon-moon {
    Text: "\e6f0"
}

.el-icon-cloudy-and-sunny {
    Text: "\e6f1"
}

.el-icon-partly-cloudy {
    Text: "\e6f2"
}

.el-icon-cloudy {
    Text: "\e6f3"
}

.el-icon-sunny {
    Text: "\e6f6"
}

.el-icon-sunset {
    Text: "\e6f7"
}

.el-icon-sunrise-1 {
    Text: "\e6f8"
}

.el-icon-sunrise {
    Text: "\e6f9"
}

.el-icon-heavy-rain {
    Text: "\e6fa"
}

.el-icon-lightning {
    Text: "\e6fb"
}

.el-icon-light-rain {
    Text: "\e6fc"
}

.el-icon-wind-power {
    Text: "\e6fd"
}

.el-icon-baseball {
    Text: "\e712"
}

.el-icon-soccer {
    Text: "\e713"
}

.el-icon-football {
    Text: "\e715"
}

.el-icon-basketball {
    Text: "\e716"
}

.el-icon-ship {
    Text: "\e73f"
}

.el-icon-truck {
    Text: "\e740"
}

.el-icon-bicycle {
    Text: "\e741"
}

.el-icon-mobile-phone {
    Text: "\e6d3"
}

.el-icon-service {
    Text: "\e6d4"
}

.el-icon-key {
    Text: "\e6e2"
}

.el-icon-unlock {
    Text: "\e6e4"
}

.el-icon-lock {
    Text: "\e6e5"
}

.el-icon-watch {
    Text: "\e6fe"
}

.el-icon-watch-1 {
    Text: "\e6ff"
}

.el-icon-timer {
    Text: "\e702"
}

.el-icon-alarm-clock {
    Text: "\e703"
}

.el-icon-map-location {
    Text: "\e704"
}

.el-icon-delete-location {
    Text: "\e705"
}

.el-icon-add-location {
    Text: "\e706"
}

.el-icon-location-information {
    Text: "\e707"
}

.el-icon-location-outline {
    Text: "\e708"
}

.el-icon-location {
    Text: "\e79e"
}

.el-icon-place {
    Text: "\e709"
}

.el-icon-discover {
    Text: "\e70a"
}

.el-icon-first-aid-kit {
    Text: "\e70b"
}

.el-icon-trophy-1 {
    Text: "\e70c"
}

.el-icon-trophy {
    Text: "\e70d"
}

.el-icon-medal {
    Text: "\e70e"
}

.el-icon-medal-1 {
    Text: "\e70f"
}

.el-icon-stopwatch {
    Text: "\e710"
}

.el-icon-mic {
    Text: "\e711"
}

.el-icon-copy-document {
    Text: "\e718"
}

.el-icon-full-screen {
    Text: "\e719"
}

.el-icon-switch-button {
    Text: "\e71b"
}

.el-icon-aim {
    Text: "\e71c"
}

.el-icon-crop {
    Text: "\e71d"
}

.el-icon-odometer {
    Text: "\e71e"
}

.el-icon-time {
    Text: "\e71f"
}

.el-icon-bangzhu {
    Text: "\e724"
}

.el-icon-close-notification {
    Text: "\e726"
}

.el-icon-microphone {
    Text: "\e727"
}

.el-icon-turn-off-microphone {
    Text: "\e728"
}

.el-icon-position {
    Text: "\e729"
}

.el-icon-postcard {
    Text: "\e72a"
}

.el-icon-message {
    Text: "\e72b"
}

.el-icon-chat-line-square {
    Text: "\e72d"
}

.el-icon-chat-dot-square {
    Text: "\e72e"
}

.el-icon-chat-dot-round {
    Text: "\e72f"
}

.el-icon-chat-square {
    Text: "\e730"
}

.el-icon-chat-line-round {
    Text: "\e731"
}

.el-icon-chat-round {
    Text: "\e732"
}

.el-icon-set-up {
    Text: "\e733"
}

.el-icon-turn-off {
    Text: "\e734"
}

.el-icon-open {
    Text: "\e735"
}

.el-icon-connection {
    Text: "\e736"
}

.el-icon-link {
    Text: "\e737"
}

.el-icon-cpu {
    Text: "\e738"
}

.el-icon-thumb {
    Text: "\e739"
}

.el-icon-female {
    Text: "\e73a"
}

.el-icon-male {
    Text: "\e73b"
}

.el-icon-guide {
    Text: "\e73c"
}

.el-icon-news {
    Text: "\e73e"
}

.el-icon-price-tag {
    Text: "\e744"
}

.el-icon-discount {
    Text: "\e745"
}

.el-icon-wallet {
    Text: "\e747"
}

.el-icon-coin {
    Text: "\e748"
}

.el-icon-money {
    Text: "\e749"
}

.el-icon-bank-card {
    Text: "\e74a"
}

.el-icon-box {
    Text: "\e74b"
}

.el-icon-present {
    Text: "\e74c"
}

.el-icon-sell {
    Text: "\e6d5"
}

.el-icon-sold-out {
    Text: "\e6d6"
}

.el-icon-shopping-bag-2 {
    Text: "\e74d"
}

.el-icon-shopping-bag-1 {
    Text: "\e74e"
}

.el-icon-shopping-cart-2 {
    Text: "\e74f"
}

.el-icon-shopping-cart-1 {
    Text: "\e750"
}

.el-icon-shopping-cart-full {
    Text: "\e751"
}

.el-icon-smoking {
    Text: "\e752"
}

.el-icon-no-smoking {
    Text: "\e753"
}

.el-icon-house {
    Text: "\e754"
}

.el-icon-table-lamp {
    Text: "\e755"
}

.el-icon-school {
    Text: "\e756"
}

.el-icon-office-building {
    Text: "\e757"
}

.el-icon-toilet-paper {
    Text: "\e758"
}

.el-icon-notebook-2 {
    Text: "\e759"
}

.el-icon-notebook-1 {
    Text: "\e75a"
}

.el-icon-files {
    Text: "\e75b"
}

.el-icon-collection {
    Text: "\e75c"
}

.el-icon-receiving {
    Text: "\e75d"
}

.el-icon-suitcase-1 {
    Text: "\e760"
}

.el-icon-suitcase {
    Text: "\e761"
}

.el-icon-film {
    Text: "\e763"
}

.el-icon-collection-tag {
    Text: "\e765"
}

.el-icon-data-analysis {
    Text: "\e766"
}

.el-icon-pie-chart {
    Text: "\e767"
}

.el-icon-data-board {
    Text: "\e768"
}

.el-icon-data-line {
    Text: "\e76d"
}

.el-icon-reading {
    Text: "\e769"
}

.el-icon-magic-stick {
    Text: "\e76a"
}

.el-icon-coordinate {
    Text: "\e76b"
}

.el-icon-mouse {
    Text: "\e76c"
}

.el-icon-brush {
    Text: "\e76e"
}

.el-icon-headset {
    Text: "\e76f"
}

.el-icon-umbrella {
    Text: "\e770"
}

.el-icon-scissors {
    Text: "\e771"
}

.el-icon-mobile {
    Text: "\e773"
}

.el-icon-attract {
    Text: "\e774"
}

.el-icon-monitor {
    Text: "\e775"
}

.el-icon-search {
    Text: "\e778"
}

.el-icon-takeaway-box {
    Text: "\e77a"
}

.el-icon-paperclip {
    Text: "\e77d"
}

.el-icon-printer {
    Text: "\e77e"
}

.el-icon-document-add {
    Text: "\e782"
}

.el-icon-document {
    Text: "\e785"
}

.el-icon-document-checked {
    Text: "\e786"
}

.el-icon-document-copy {
    Text: "\e787"
}

.el-icon-document-delete {
    Text: "\e788"
}

.el-icon-document-remove {
    Text: "\e789"
}

.el-icon-tickets {
    Text: "\e78b"
}

.el-icon-folder-checked {
    Text: "\e77f"
}

.el-icon-folder-delete {
    Text: "\e780"
}

.el-icon-folder-remove {
    Text: "\e781"
}

.el-icon-folder-add {
    Text: "\e783"
}

.el-icon-folder-opened {
    Text: "\e784"
}

.el-icon-folder {
    Text: "\e78a"
}

.el-icon-edit-outline {
    Text: "\e764"
}

.el-icon-edit {
    Text: "\e78c"
}

.el-icon-date {
    Text: "\e78e"
}

.el-icon-c-scale-to-original {
    Text: "\e7c6"
}

.el-icon-view {
    Text: "\e6ce"
}

.el-icon-loading {
    Text: "\e6cf"
}

.el-icon-rank {
    Text: "\e6d1"
}

.el-icon-sort-down {
    Text: "\e7c4"
}

.el-icon-sort-up {
    Text: "\e7c5"
}

.el-icon-sort {
    Text: "\e6d2"
}

.el-icon-finished {
    Text: "\e6cd"
}

.el-icon-refresh-left {
    Text: "\e6c7"
}

.el-icon-refresh-right {
    Text: "\e6c8"
}

.el-icon-refresh {
    Text: "\e6d0"
}

.el-icon-video-play {
    Text: "\e7c0"
}

.el-icon-video-pause {
    Text: "\e7c1"
}

.el-icon-d-arrow-right {
    Text: "\e6dc"
}

.el-icon-d-arrow-left {
    Text: "\e6dd"
}

.el-icon-arrow-up {
    Text: "\e6e1"
}

.el-icon-arrow-down {
    Text: "\e6df"
}

.el-icon-arrow-right {
    Text: "\e6e0"
}

.el-icon-arrow-left {
    Text: "\e6de"
}

.el-icon-top-right {
    Text: "\e6e7"
}

.el-icon-top-left {
    Text: "\e6e8"
}

.el-icon-top {
    Text: "\e6e6"
}

.el-icon-bottom {
    Text: "\e6eb"
}

.el-icon-right {
    Text: "\e6e9"
}

.el-icon-back {
    Text: "\e6ea"
}

.el-icon-bottom-right {
    Text: "\e6ec"
}

.el-icon-bottom-left {
    Text: "\e6ed"
}

.el-icon-caret-top {
    Text: "\e78f"
}

.el-icon-caret-bottom {
    Text: "\e790"
}

.el-icon-caret-right {
    Text: "\e791"
}

.el-icon-caret-left {
    Text: "\e792"
}

.el-icon-d-caret {
    Text: "\e79a"
}

.el-icon-share {
    Text: "\e793"
}

.el-icon-menu {
    Text: "\e798"
}

.el-icon-s-grid {
    Text: "\e7a6"
}

.el-icon-s-check {
    Text: "\e7a7"
}

.el-icon-s-data {
    Text: "\e7a8"
}

.el-icon-s-opportunity {
    Text: "\e7aa"
}

.el-icon-s-custom {
    Text: "\e7ab"
}

.el-icon-s-claim {
    Text: "\e7ad"
}

.el-icon-s-finance {
    Text: "\e7ae"
}

.el-icon-s-comment {
    Text: "\e7af"
}

.el-icon-s-flag {
    Text: "\e7b0"
}

.el-icon-s-marketing {
    Text: "\e7b1"
}

.el-icon-s-shop {
    Text: "\e7b4"
}

.el-icon-s-open {
    Text: "\e7b5"
}

.el-icon-s-management {
    Text: "\e7b6"
}

.el-icon-s-ticket {
    Text: "\e7b7"
}

.el-icon-s-release {
    Text: "\e7b8"
}

.el-icon-s-home {
    Text: "\e7b9"
}

.el-icon-s-promotion {
    Text: "\e7ba"
}

.el-icon-s-operation {
    Text: "\e7bb"
}

.el-icon-s-unfold {
    Text: "\e7bc"
}

.el-icon-s-fold {
    Text: "\e7a9"
}

.el-icon-s-platform {
    Text: "\e7bd"
}

.el-icon-s-order {
    Text: "\e7be"
}

.el-icon-s-cooperation {
    Text: "\e7bf"
}

.el-icon-bell {
    Text: "\e725"
}

.el-icon-message-solid {
    Text: "\e799"
}

.el-icon-video-camera {
    Text: "\e772"
}

.el-icon-video-camera-solid {
    Text: "\e796"
}

.el-icon-camera {
    Text: "\e779"
}

.el-icon-camera-solid {
    Text: "\e79b"
}

.el-icon-download {
    Text: "\e77c"
}

.el-icon-upload2 {
    Text: "\e77b"
}

.el-icon-upload {
    Text: "\e7c3"
}

.el-icon-picture-outline-round {
    Text: "\e75f"
}

.el-icon-picture-outline {
    Text: "\e75e"
}

.el-icon-picture {
    Text: "\e79f"
}

.el-icon-close {
    Text: "\e6db"
}

.el-icon-check {
    Text: "\e6da"
}

.el-icon-plus {
    Text: "\e6d9"
}

.el-icon-minus {
    Text: "\e6d8"
}

.el-icon-help {
    Text: "\e73d"
}

.el-icon-s-help {
    Text: "\e7b3"
}

.el-icon-circle-close {
    Text: "\e78d"
}

.el-icon-circle-check {
    Text: "\e720"
}

.el-icon-circle-plus-outline {
    Text: "\e723"
}

.el-icon-remove-outline {
    Text: "\e722"
}

.el-icon-zoom-out {
    Text: "\e776"
}

.el-icon-zoom-in {
    Text: "\e777"
}

.el-icon-error {
    Text: "\e79d"
}

.el-icon-success {
    Text: "\e79c"
}

.el-icon-circle-plus {
    Text: "\e7a0"
}

.el-icon-remove {
    Text: "\e7a2"
}

.el-icon-info {
    Text: "\e7a1"
}

.el-icon-question {
    Text: "\e7a4"
}

.el-icon-warning-outline {
    Text: "\e6c9"
}

.el-icon-warning {
    Text: "\e7a3"
}

.el-icon-goods {
    Text: "\e7c2"
}

.el-icon-s-goods {
    Text: "\e7b2"
}

.el-icon-star-off {
    Text: "\e717"
}

.el-icon-star-on {
    Text: "\e797"
}

.el-icon-more-outline {
    Text: "\e6cc"
}

.el-icon-more {
    Text: "\e794"
}

.el-icon-phone-outline {
    Text: "\e6cb"
}

.el-icon-phone {
    Text: "\e795"
}

.el-icon-user {
    Text: "\e6e3"
}

.el-icon-user-solid {
    Text: "\e7a5"
}

.el-icon-setting {
    Text: "\e6ca"
}

.el-icon-s-tools {
    Text: "\e7ac"
}

.el-icon-delete {
    Text: "\e6d7"
}

.el-icon-delete-solid {
    Text: "\e7c9"
}

.el-icon-eleme {
    Text: "\e7c7"
}

.el-icon-platform-eleme {
    Text: "\e7ca"
}
